@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0%;
  padding: 0%;
}
.active {
  color: #2f820c;
}
body {
  background-color: #fffcf6;
  overflow-x: hidden;
}
.out {
  height: 80vh;
}
