@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0%;
  padding: 0%;
}
.active {
  color: #2f820c;
}
body {
  overflow-x: hidden;
  background-image: linear-gradient(
      22.5deg,
      rgba(217, 46, 46, 0.03) 0%,
      rgba(217, 46, 46, 0.03) 16%,
      rgba(81, 81, 81, 0.03) 16%,
      rgba(81, 81, 81, 0.03) 26%,
      rgba(68, 203, 33, 0.03) 26%,
      rgba(68, 203, 33, 0.03) 73%,
      rgba(43, 43, 43, 0.03) 73%,
      rgba(43, 43, 43, 0.03) 84%,
      rgba(70, 199, 49, 0.03) 84%,
      rgba(70, 199, 49, 0.03) 85%,
      rgba(125, 125, 125, 0.03) 85%,
      rgba(125, 125, 125, 0.03) 100%
    ),
    linear-gradient(
      22.5deg,
      rgba(73, 203, 64, 0.03) 0%,
      rgba(73, 203, 64, 0.03) 54%,
      rgba(144, 144, 144, 0.03) 54%,
      rgba(144, 144, 144, 0.03) 60%,
      rgba(59, 248, 58, 0.03) 60%,
      rgba(59, 248, 58, 0.03) 76%,
      rgba(37, 37, 37, 0.03) 76%,
      rgba(37, 37, 37, 0.03) 78%,
      rgba(246, 60, 60, 0.03) 78%,
      rgba(246, 60, 60, 0.03) 91%,
      rgba(64, 239, 83, 0.03) 91%,
      rgba(64, 239, 83, 0.03) 100%
    ),
    linear-gradient(
      157.5deg,
      rgba(60, 220, 77, 0.03) 0%,
      rgba(60, 220, 77, 0.03) 6%,
      rgba(245, 41, 41, 0.03) 6%,
      rgba(245, 41, 41, 0.03) 15%,
      rgba(214, 46, 46, 0.03) 15%,
      rgba(214, 46, 46, 0.03) 18%,
      rgba(239, 72, 72, 0.03) 18%,
      rgba(239, 72, 72, 0.03) 37%,
      rgba(64, 220, 51, 0.03) 37%,
      rgba(64, 220, 51, 0.03) 62%,
      rgba(199, 59, 59, 0.03) 62%,
      rgba(199, 59, 59, 0.03) 100%
    ),
    linear-gradient(90deg, rgb(251, 251, 251), rgb(251, 251, 251));
}
.out {
  height: 80vh;
}
