.over {
  box-shadow: 3px 3px 10px black !important;
  transition: all 0.3s ease-in-out !important;
}

.over:hover {
  transform: scale(1.04);
}
.over:hover .name {
  color: #2f820c;
}
.salsa-regular {
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
}
