.outter {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.Myself {
  width: 20vw;
  border-radius: 6px;
  box-shadow: 2px 2px 3px black;
  background-color: white;
}
.Pic {
  background-repeat: no-repeat;
  background-color: rgb(71, 71, 71);
  background-position: center;
  background-size: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 100;
}
.MyPic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  transform: translatey(-20px);
}
.AboutMe {
  margin: 10px;
  font-size: 1rem;
}
.Name {
  font-size: 40px;
  color: white;
  transform: translatey(-25px);
}
.redirectToAbout {
  margin-top: 10px;
  font-size: 17px;
  color: #2f820c !important;
  padding: 4px;
}
.Myself {
  flex-direction: column;
}
.MyPic {
  height: 100px;
  width: 100px;
}
.Pic {
  width: auto;
}
.AboutMe {
  width: auto;
}
