.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.Myself {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px; 
  transition: transform 0.5s ease-in-out;
}

.pic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.MyPic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.Name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}

.AboutMe {
  padding: 20px;
}


@media (max-width: 600px) {
  .MyPic {
    width: 100px;
    height: 100px;
  }
  .Name {
    font-size: 1.2rem;
  }
}
